body { 
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: rgb(240, 240, 240);
}

#blank { display: none; }
#pg { width:650px; margin: auto; }
#pghdr { text-align: center; border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
#pgftr { clear: both; height: 10px; border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
#menu { width:620px; margin: 10px auto; }

.title { 
    font-family: sans-serif; 
    font-size: 20px;
    font-weight: 700;
    }
.sitebtn { 
    float: left; 
    text-align: center; 
    width: 300px; 
    height: 70px; line-height: 70px;
    margin: 5px; 
    background-color: #bdd5ea;
    font-family: sans-serif; 
    font-size: 20px;
    }
.sitebtn:hover { cursor: pointer; }
